


        <!--footer 4 start -->
        <footer class="footer footer-four">
            <div class="primary-footer colg text-center">
                <div class="container">

                  <a href="#top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light" data-section="#top">
                    <i class="material-icons">&#xE316;</i>
                  </a>

                  <ul class="social-link tt-animate ltr mt-20">
                    <li><a class="rli" href="#"><i class="fa fa-facebook rli"></i></a></li>
                    <li><a class="bli" href="#"><i class="fa fa-twitter bli"></i></a></li>
                    <li><a class="yli" href="#"><i class="fa fa-discord yli"></i></a></li>
                    <li><a class="gli" href="#"><i class="fa fa-instagram gli"></i></a></li>
                  </ul>

                  <hr class="mt-10">

                  <div class="row">
                    <div class="col-md-12">
                          <div class="footer-logo">
                            <%= image_tag "profiln2.png", class: "logo-fo" %>
                          </div>

                          <span class="copy-text"><span style="color: #ED3833;">Copyright &copy; 2022  &nbsp; |  </span><span style="color: #7B2B85;"> &nbsp; Rainbow Heroes</span><span style="color: #0F5DDC;"> &nbsp; | &nbsp;  All Rights Reserved &nbsp; </span><span style="color: #71BD45;">| &nbsp;  Designed By : &nbsp;</span> <a href="#">Mita Group</a></span>
                          <div class="footer-intro" style="color: #fff!important;">
                            <p> RAINBOW HEROES is a collection of 5000 NFT's fighting for love on Solana Blockchain.</p>
                          </div>
                    </div><!-- /.col-md-12 -->
                  </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.primary-footer -->

            <div class="secondary-footer darken-g text-center">
                <div class="container">
                    <ul>
                      <li class="rli" ><a class="rli" href="#">Home</a></li>
                      <li class="pli" ><a class="pli" href="#">About us</a></li>
                      <li class="bli" ><a class="bli" href="#">Services</a></li>
                      <li class="gli" ><a class="gli" href="#">Portfolio</a></li>
                      <li class="yli" ><a class="yli" href="#">Contact us</a></li>
                    </ul>
                </div><!-- /.container -->
            </div><!-- /.secondary-footer -->
        </footer>
        <!--footer 4 end-->


        <!-- jQuery -->
        <script src="assets/js/jquery-2.1.3.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/materialize/js/materialize.min.js"></script>
        <script src="assets/js/menuzord.js"></script>
        <script src="assets/js/bootstrap-tabcollapse.min.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/smoothscroll.min.js"></script>
