
<nav class="navbar navbar-default-2 navbar-fixed-top" style="border: 0!important;font-size: 40px!important; box-shadow: 0!important;">
      <div class="container d-flex row align-items-center">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag "profiln2.png", style: "width:55px;"%></a>
        </div>
        <div id="navbar" style="padding-top: 15px; font-size: 40px!important;" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="rli" href="#">Home</a></li>
            <li><a class="pli" href="#">Roadmap</a></li>
            <li><a class="bli" href="#">Team</a></li>
            <li><a class="gli" href="#">Contact</a></li>
            <li><a class="yli" href="#">FAQ</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="image">
  <div class="container">
<!--    <h1 class="heading-home" style="font-family: 'Akshar', sans-serif!important;">RAINBOW HEROES is a collection of 5000 NFT's<br> fighting for love on Solana Blockchain.</h1>
 -->   <p style="padding-top:350px;"><button class="btn btn-large" st>Buy on Open Sea</button></p>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
        // Transition effect for navbar
        $(window).scroll(function() {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() > 850) {
              $('.navbar').addClass('solid');
          } else {
              $('.navbar').removeClass('solid');
          }
        });
    });
</script>
