@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@400;500&family=Shadows+Into+Light&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600&family=Caveat:wght@400;500;600;700&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@400;500&family=Roboto:wght@100;300;500&family=Shadows+Into+Light&family=VT323&display=swap');
.image {
  background-color: #1B1B1B;
  background: url("heromain.JPG") no-repeat center bottom;
  background-size: cover;
  height: 130vh;
  width: 100%;
  margin-top: 0px;
}
.image .heading {
  color: white;
  font-family: 'Akshar', sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 100px;
}
.heading-home{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: 0px 0px 9px #000;
  text-align: center;
  padding-top: 170px;
}
.image p {
  text-align: center;
  padding: 20px 60px;
}
.image p .btn {
  background-color: rgba(27,27,27,0.4);
  color: white;
  font-family: 'Akshar', sans-serif;
  padding: 10px;
  font-size: 1.3em;
}
.image p .btn:hover {
  color: #fff;
  background-color: rgba(27,27,27,0.9);
  transition-duration: 0.4s;
}

.navbar {
  height: 80px;
  background-color: rgba(27,27,27,0.4);
  border: none;
  font-size: 30px;
  font-family: 'Akshar', sans-serif;
  color: white;
  backdrop-filter: blur(7px);
  z-index: 100;
  box-shadow: none;
  transition: background-color 1s ease 0s;
}

.navbar-default-2 .navbar-brand {

}
.navbar-default-2 .navbar-brand:hover {
  color: #fff;
}
.navbar-default-2 .navbar-nav > li > a {


}
.navbar-default-2 .navbar-nav > li > a:hover, .navbar-default-2 .navbar-nav > li > a:active, .navbar-default-2 .navbar-nav > li > a:focus {

}
.navbar-default-2 .navbar-nav > li > a:visited {

  text-decoration: none;
}
.navbar-default-2 .navbar-nav > .active > a, .navbar-default-2 .navbar-nav > .active > a:hover, .navbar-default-2 .navbar-nav > .active > a:focus {
  background-color: transparent;

}
.navbar-default-2 .navbar-toggle:hover, .navbar-default-2 .navbar-toggle:focus {
  background-color: #1B1B1B;
}
.navbar-default-2 .navbar-toggle .icon-bar {
  color: #fff;
  background-color: #1B1B1B;
}
.navbar-default-2 .navbar-collapse.collapse.in ul {
  background-color: #1B1B1B;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #1B1B1B;
  transition: background-color 1s ease 0s;
}
.navbar.solid .navbar-brand {
  color: #fff;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: #fff;
  font-size: 40px;
  transition: color 1s ease 0s;
}
.navbar-default-2 .navbar-nav > li > a {
    font-size: 20px!important;
}
.navbar.solid .navbar-nav .rli:hover {
  color: #fff;
  background-color: #ED3833;
  transition: color 1s ease 0s;
  transition: 1s ease 0s;
}
.navbar.solid .navbar-nav .gli:hover {
  color: #fff;
  background-color: #71BD45;
  transition: color 1s ease 0s;
  transition: 1s ease 0s;
}
.navbar.solid .navbar-nav .pli:hover {
  color: #fff;
  background-color: #7B2B85;
  transition: color 1s ease 0s;
  transition: 1s ease 0s;
}
.navbar.solid .navbar-nav .bli:hover {
  color: #fff;
  background-color: #0E5FE1;
  transition: color 1s ease 0s;
  transition: 1s ease 0s;
}
.navbar.solid .navbar-nav .yli:hover {
  color: #fff;
  background-color: #F8C947;
  transition: color 1s ease 0s;
  transition: 1s ease 0s;
}
.navbar.solid .navbar-nav .oli:hover {
  color: #fff;
  background-color: red;
  transition: color 1s ease 0s;
  transition: 1s ease 0s;
}

.about {
  background-color: #C57ED3;
  color: #490D40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}
.about h2 {
  padding-top: 220px;
}
.about p {
  padding: 20px 80px;
}
